.App {
  width: 500px;
  margin: 10px auto;
  border: 1px solid #000;
  background: rgb(253, 173, 25);
}

.App p,
h2 {
  text-align: center;
}

.App div {
  margin-left: 10px;
}

strong {
  color: rgb(255, 255, 255);
  font-size: 18px;
}
